<section class="container pb-5">
  <h3 class="text-center">What you will build</h3>

  <div class="row pt-5">

    <div class="col-md-6">

      <script src="/static/js/qrcode.js"></script>

      <div id="qrcode"></div>

      <script type="text/javascript">
      var qrcode = new QRCode(document.getElementById("qrcode"), {
        text: "{{ address }}",
        width: 128,
        height: 128,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.M
      });
      </script>

    </div>

    <div class="col-md-6">
      <p>A payment processor for your website</p>
      <p>{{ address }}</p>
    </div>

  </div>
</section>
