<section class="container pb-5">
  <h3 class="text-center">Build a payment processor for your website</h3>

  <div class="row pt-5 justify-content-center">

    <div class="col-sm-10 col-md-8 col-lg-6 text-center card shadow">
      <div class="card-body">

        <p class="text-muted">
          Send a small amount of Bitcoin Cash to the following address to try it!
          <br>
          Don't worry, you will be able to withdraw it back right after 😀
        </p>

        <i class="fas fa-circle-notch fa-spin float-right"></i>

        <script src="/static/js/qrcode.js"></script>
        <a href="{{ address }}">
          <div id="qrcode"></div>
          <p class="text-truncate">{{ address }}</p>
        </a>

        <!-- <p>{{ wif }}</p> -->

        <script type="text/javascript">
        // Creates QR code
        var qrcode = new QRCode(document.getElementById("qrcode"), {
          text: "{{ address }}",
          width: 128,
          height: 128,
          colorDark : "#000000",
          colorLight : "#ffffff",
          correctLevel : QRCode.CorrectLevel.M
        });

        // Global variables
        var address = '{{ address }}';
        var balance = 0;

        // Helper functions
        function get_balance(address) {
          return fetch('https://rest.bitcoin.com/v2/address/details/' + address)
                    .then(response => response.json())
                    .then(data => data.balance + data.unconfirmedBalance);
        }

        function check_payment(new_balance) {
          if (new_balance > balance) {
            alert('payment received'); // do something awesome instead of and alert
            balance = new_balance;
          } else {
            // Logging for debug
            console.log('Balance: ' + balance);
            console.log('Payment not received');
          }
        }

        function allocate(tmp_balance) {
          balance = tmp_balance;
        }

        // Gets balance at the time of page loading
        get_balance(address)
          .then(balance => allocate(balance));

        // Checks for payment every 2 seconds
        window.setInterval(function(){
          get_balance(address)
            .then(balance => check_payment(balance));
        }, 2000);
        </script>

      </div>
    </div>

  </div>
</section>
